# -- Server -------------------------------------------------------------------
PORT=8000

# -- Database -----------------------------------------------------------------
DATABASE_URL=postgresql://user:password@localhost:5432/mydb

# -- Auth Server --------------------------------------------------------------
# URL of the master auth API server (used to build JWKS endpoint)
MASTER_API_URL=http://localhost:3000

# -- App ----------------------------------------------------------------------
CLIENT_URL=http://localhost:5173

# -- Redis (Opsional) ---------------------------------------------------------
# REDIS_URL=redis://localhost:6379

# -- API Key (Opsional) -------------------------------------------------------
# API_KEY=your-api-key
