# -- Server -------------------------------------------------------------------
PORT=9091

# -- Database -----------------------------------------------------------------
# DATABASE_URL=postgresql://master_bn:master_bn_123@localhost:9090/master_bn
DATABASE_URL=postgresql://postgres:nightwitch96@localhost:5433/master_bn

# -- Token --------------------------------------------------------------------
JWT_ACCESS_EXPIRES_IN=5m
JWT_REFRESH_EXPIRES_IN=1d

# -- Security -----------------------------------------------------------------
SALT_ROUNDS=12
API_KEY=master-data-bn-api-key

# -- Redis (optional) ---------------------------------------------------------
# REDIS_URL=redis://localhost:9092
REDIS_URL=redis://localhost:6380

# -- Client -------------------------------------------------------------------
CLIENT_URL=http://localhost:9093,http://localhost:9082,http://localhost:9072,http://localhost:9062
WEBHOOK_CLIENT_URL=http://localhost:9081,http://localhost:9071,http://localhost:9061

# -- Supabase Storage (optional - for production) -----------------------------
SUPABASE_URL=
SUPABASE_SERVICE_KEY=
SUPABASE_BUCKET=attachments

