NODE_ENV=dev

DEV_PORT=3203
DEV_CLIENT_URL=http://localhost:5174
DEV_DB_URL=postgresql://postgres:nightwitch96@localhost:5433/exam_bn?schema=public
REDIS_URL=redis://localhost:6389

PROD_PORT=80
PROD_CLIENT_URL=https://yourdomain.com
PROD_DB_URL=postgresql://USER:PASSWORD@host:5432/DB_NAME?schema=public

ACCESS_TOKEN_SECRET_KEY=your_access_secret
REFRESH_TOKEN_SECRET_KEY=your_refresh_secret

SUPER_ADMIN_USERNAME=admin
SUPER_ADMIN_PASSWORD=supersecret
