# NODE_ENV: "dev" untuk development lokal, "production" untuk production/Docker
NODE_ENV=dev

DEV_PORT=3000
DEV_CLIENT_URL=http://localhost:5173
DEV_DB_URL=postgresql://USER:PASSWORD@localhost:5432/DB_NAME?schema=public
REDIS_URL=redis://localhost:6379

PROD_PORT=3000
PROD_CLIENT_URL=http://localhost
PROD_DB_URL=postgresql://USER:PASSWORD@host:5432/DB_NAME?schema=public

ACCESS_TOKEN_SECRET_KEY=your_access_secret
REFRESH_TOKEN_SECRET_KEY=your_refresh_secret

SUPER_ADMIN_USERNAME=admin
SUPER_ADMIN_PASSWORD=supersecret
