PORT=9061
DATABASE_URL="postgresql://postgres:nightwitch96@localhost:5433/learn_bn"
MASTER_API_URL="http://localhost:9091"
AKADEMIK_API_URL="http://localhost:9071"
API_KEY="master-data-bn-api-key"
CLIENT_URL="http://localhost:9062"
